{% extends "base.html.twig" %}

{% block body %}
    
    <h1>Edition d'article</h1>
    
        {% if success is defined %}
            {% for eachSuccess in success %}
                <div class="alert alert-success" role="alert">{{ eachSuccess }}</div>
            {% endfor %}
        {% endif %}
        
        {% if errors is defined %}
            {% for error in errors %}
                <div class="alert alert-success" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
    
        {{ form_start(formTrick) }} 
        {{ form_row(formTrick.title) }}
        {{ form_row(formTrick.content) }}
        {{ form_row(formTrick.category) }}
        {% if formMedia is not defined %}
            {{ form_row(formTrick.photo_file) }}
                <button type="submit" class="btn btn-success">Enregistrer Trick</button>
            {{ form_end(formTrick) }}
        {% else %}
            <button type="submit" class="btn btn-success">Enregistrer Trick</button>
            {{ form_end(formTrick) }}
            <a href='{{ path('delete_article', {'id': trick.id}) }}'>Supprimer cet article</a>
        {% endif %}


        
        {% if formMedia is defined %}
            <h2>Adding a new photo</h2>
        
            {{ form_start(formMedia) }}
            {{ form_widget(formMedia) }}
            <button type="submit" class="btn btn-success">Ajouter une photo</button>
            {{ form_end(formMedia) }}
            
            {{ form_start(formMediaVideo) }}
            {{ form_widget(formMediaVideo) }}
            <button type="submit" class="btn btn-success">Ajouter une vidéo</button>
            {{ form_end(formMediaVideo) }}
        
        {% endif %}
     
        
<!-- Ajout des images de l'article spécifique-->
        {% if photo_office is not same as(null) or trick.picture %}
            {% for media in trick.media %}
                <img src= {{ media.photo }} >
                <!--Test sur lien de modification de la photo-->
                {% if formMedia %}
                    {% if media.photo is not same as(trick.picture) %}
                        <a href='{{ path('delete_media', {'id': media.id}) }}'>supprimer le média</a>
                        
                        {% if media.video is empty %}
                            <a href='{{ path('modify_media', {'idMedia': media.id, 'idTrick': trick.id}) }}'>modifier le média</a>
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% endfor %}
        {% endif %}
    
{% endblock %}

