{% extends "base.html.twig" %}

{% block body %}
    <article class="row">
        <div class="col-12 row">
            <div class="col-12 d-flex ">
                
                {% if editMode %}
                    <a href="{{ path('edit_article', {'id': trick.id}) }}">Editer ?</a>
                {% endif %}
                
                <h2 class="catch_quote"> {{ trick.title }} </h2>
            </div>
            <div class="col-12 catch_quote d-flex">
                <img class="pictures" src= {{ trick.picture }}>
            </div>
        </div>
    </article>
                
    <section>
        {% for comment in trick.comments%}
            <p>{{ comment.content | raw }}</p>
        {% endfor %}
        
        {% if app.user %}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.content) }}
        <button type='submit' class="btn btn-success">Commenter !</button>
        {{ form_end(commentForm) }}
        {% endif %}
        
    </section>
{% endblock %}