{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-12 row catch_quote d-flex justify-content-center">
            <p>Snow Tricks</p> 
        </div>
        
        {% if success is defined %}
            {% for eachSuccess in success %}
                <div class="col-12 row alert alert-success" role="alert">{{ eachSuccess }}</div>
            {% endfor %}
        {% endif %}
        
        {% if errors is defined %}
            {% for error in errors %}
                <div class="col-12 row alert alert-success" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
        
        {% if display == true %}
        <div class="col-12 row">
            {% for article in articles %}
            <div class="col-3">
                <a href="{{ path('details', {'id' : article.id}) }}" ><img class="pictures" src={{ article.picture }}></a>
            </div>
            {% endfor %}
            
            {# Mise en place du template de pagination #}
            
            {# création de la variable nombre de page, ou dernière page #}
            {% set numberOfPages = (allArticles | length/postByDisplay)|round(0, 'ceil') %}
            
            
            <div class="col-12 row justify-content-center">
            
            {#Première condition -> Si nombre de page > 5 #}
            
            {#Boucle#}
            
            {#Création de la variable des 3 petits points#}
            {% if currentPage >= 1 and currentPage <= numberOfPages %}
            {%  set tripleDot='...'%}
                
                {#Si numberOfPages a été défini et transmi en variable#}
                {% if numberOfPages %}
                    
                    {#précédent#}
                    {% if currentPage > 1 %}
                        <a href="{{ path('home', {'pageNumber' : currentPage-1}) }}"> Précédent </a>
                    {% endif %}
                    
                    {# initialisation de la boucle principale à la pagination#}
                    {% for page in range(1, numberOfPages) %}
                         
                        {#Constance de la première pagination#}
                        {% if currentPage > 2 and MarkSecondPagination is not defined %}
                            {% set MarkSecondPagination=true %}
                            <a href="{{ path('home', {'pageNumber' : 1}) }}"> 1 </a>
                        {% endif %}
                        
                        
                        {# Affichage des 3 petits points, si la page affiché est supérieur à 3, mark créé pour que la condition d'entrée soit unique#}
                        {% if currentPage > 3 and markFirst is not defined%}
                            <p>{{tripleDot}}</p>
                            {%set markFirst=true%}
                        {% endif %}
                        
                        
                        {#Pagination#}
                        {% if page > 0 and page < numberOfPages and (currentPage-1 == page or currentPage == page or currentPage+1 == page) %}
                            {#Pour la dernière pagination#}
                            {% if currentPage == numberOfPages %}
                                <a href="{{ path('home', {'pageNumber' : numberOfPages-2}) }}"> {{numberOfPages-2}} </a>
                            {% endif %}
                            {#Pour toutes paginations#}
                            <a href="{{ path('home', {'pageNumber' : page}) }}"> {{page}} </a>
                            {% if currentPage == 1  and page == 2%}
                                <a href="{{ path('home', {'pageNumber' : currentPage+2}) }}"> {{currentPage+2}} </a>
                            {% endif %}
                        {% endif %}
                        
                        
                        {#Affichage des 3 petits points -> Si un écart de 2 paginations est existente entre la dernière page et la page actuelle#}
                        {% if currentPage < numberOfPages - 2 and page == numberOfPages %}
                            <p>{{tripleDot}}</p>
                        {% endif %}
                        
                    {% endfor %}
                    
                    {#dernière pagination#}
                    <a href="{{ path('home', {'pageNumber' : numberOfPages}) }}"> {{numberOfPages}} </a>
                    
                    {#suivant#}
                    {% if currentPage < numberOfPages %}
                        <a href="{{ path('home', {'pageNumber' : currentPage+1}) }}"> Suivant </a>
                    {% endif %}
                {% endif %}
                
            {% endif %}
            
            {#Dernière condition -> Affichage dernière pagination, et trois petits points#}
            
            </div>
            
        </div>
        {% endif %}
    </div>
{% endblock %}