body
{
    width: 100%;
    margin: 0px;
}

.row{
    margin: 0px;
}

[class*='col-']{
    padding: 0px !important;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
}

.pictures{
    width : 100%;
    height : auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.catch_quote{
    font-size: 200px;
}
