{% extends "base.html.twig" %}

{% block body %}
    <h1>Adding a new photo</h1>

    {{ form_start(form) }}
        {# ... #}

    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Upload</button>
    {{ form_end(form) }}
{% endblock %}