{% extends 'base.html.twig' %}

{% block title %}Votre pseudo{% endblock %}
    
{% block body %}
    {{ form_start(form) }} 
        {{ form_row(form.reset) }}
        <button type="submit" class="btn btn-success">Nouveau mot de passe</button>
    {{ form_end(form)}}
{% endblock %}
