{% extends 'base.html.twig'%}

{% block body %}
    <h1>Inscription</h1>
    
        {{ form_start(form) }} 
        {{ form_widget(form) }}
        <button type='submit' class='btn btn-success'>Inscription</button>
        {{ form_end(form) }}
{% endblock %}