{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}
    
{% block body %}

    {{ form_start(form) }} 
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Confirmer</button>
    {{ form_end(form)}}

{% endblock %}